.page-header{
    margin: 0px;
    padding: 50px 0px;
    margin-top: 53px;
    @media screen and (max-width: 575px){
        padding: 30px 0;
    }
}
.page-header {
    background-image: url('./../../images/common-banner.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    @media(max-width: 767px){
        background: linear-gradient(-14deg, #009fff 21%, #0974d5 30%, #053ab1 46%, #06284e 92%);
    }
    img { 
        display: block;
        margin: 0 auto;
        height: 320px;
        @media only screen and (max-width: 576px) {
            height: 250px;
        }
    }
    h5 {
        font-size: 25px;
        font-weight: 300;
        color: #ffffff;
        line-height: 30px;
        margin-top: 50px;
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
        @media screen and (max-width: 575px){
            margin-top: 20px;
        }
    }
    .title {
        font-family: 'Open Sans', sans-serif;
        color: #ffffff;
        font-weight: 700;
        font-style: normal;
        font-size: 40px;
        line-height: 60px;
        position: relative;
        margin-bottom: 20px;
        margin-top: 0px;
        padding-bottom: 10px;
        &:after {
            width: 73px;
            background: #33a2de;
            height: 5px;
            content: "";
            position: absolute;
            left: 4px;
            bottom: 0;
        }
        @media(max-width: 767px){
            font-size: 38px;
        }
    }
    .sub-title {
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-weight: normal;
        font-style: normal;
        font-size: 17px;
        line-height: 25px;
        margin-top: 8px;
    }
}


.container {
    width: 100%;
    max-width: 1280px;
}

// service

a {
    color: #393b3c;
    font-weight: 1000px;
}
a:hover {
    text-decoration: none;
}
.technology-page {
    .technology-odd {
        position: relative;
        padding: 50px 0px;
        .title {
            font-family: 'Open Sans', Helvetica, Arial, sans-serif;
            color: #393b3c;
            font-weight: 600;
            font-size: 36px;
            line-height: 50px;
            a {
                margin-top: 0px;
                text-align: left;
                margin-bottom: 30px;
                font-family: 'Open Sans', Helvetica, Arial, sans-serif;
                color: #393b3c;
                font-weight: 600;
                font-size: 36px;
                line-height: 50px;

                // color: #393b3c;
                // font-family: 'Roboto', sans-serif;
                // font-weight: bold;
                // font-style: normal;
                // font-size: 36px;
                // line-height: 60px;
                // margin-top: 0px;
                // text-align: left;
                // margin-bottom: 30px;
                @media only screen and (max-width: 992px) {
                    margin-bottom: 50px;
                }
                @media only screen and (max-width: 375px) {
                    margin-bottom: 40px;
                    font-size: 30px;
                    line-height: 39px;
                }
            }
        }
        p {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            color: #7b7b7b;
            line-height: 32px;
            @media only screen and (max-width: 1440px) {
                font-size: 15px;
                line-height: 20px;
            }
        }
        ul {
            padding: 0px;
            margin-top: 30px;
            @media(min-width: 768px) and (max-width:991px){
                margin-left: 15px;
            }
            li {
                position: relative;
                width: 50%;
                float: left;
                padding-left: 30px;
                margin-bottom: 15px;
                list-style: none;
                @media only screen and (max-width: 575px) {
                    width: 100%;
                    margin-bottom: 8px;
                }
                &:before {
                    width: 15px;
                    height: 15px;
                    border-radius: 5px;
                    background-color: transparent;
                    border: 2px solid #6fc65f;
                    position: absolute;
                    left: 0;
                    top: 2px;
                    content: "";
                }
                &:hover:before {
                    background-color: #6fc65f;
                }
                a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    color: #393b3c;
                    font-family: 'Roboto', sans-serif;
                    font-size: 19px;
                    font-weight: 400;
                    font-style: normal;
                    line-height: 20px;
                    &:hover {
                        cursor: pointer;
                        color: #6fc65f;
                    }
                    @media only screen and (max-width: 1450px) {
                        font-size: 17px;
                    }
                    @media only screen and (max-width: 575px) {
                        font-size: 17px;
                    }
                }
            }
        }
        .sub-technology {
            display: inline-block;
        }
    }
    .technology-even {
        position: relative;
        padding: 100px 0px;
        /*background: linear-gradient(-45deg, rgb(44, 81, 171) 0%, rgb(79, 136, 190) 100%);*/
        background-color: #ffffff;
        @media(max-width: 767px){
            padding: 55px 0px;
        }
        .title {
            a {
                color: #393b3c;
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                font-style: normal;
                font-size: 36px;
                line-height: 60px;
                margin-top: 0px;
                text-align: left;
                margin-bottom: 30px;
                @media only screen and (max-width: 992px) {
                    margin-bottom: 50px;
                }
                @media only screen and (max-width: 375px) {
                    margin-bottom: 40px;
                    font-size: 30px;
                    line-height: 39px;
                }
            }
        }
        p {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            color: #393b3c;
            line-height: 32px;
            @media only screen and (max-width: 1440px) {
                font-size: 15px;
                line-height: 20px;
            }
        }
        ul {
            padding: 0px;
            margin-top: 30px;
            @media(min-width: 768px) and (max-width:991px){
                margin-left: 15px;
            }
            li {
                position: relative;
                width: 50%;
                float: left;
                padding-left: 30px;
                margin-bottom: 15px;
                list-style: none;
                @media only screen and (max-width: 575px) {
                    width: 100%;
                    margin-bottom: 8px;
                }
                &:before {
                    width: 15px;
                    height: 15px;
                    border-radius: 5px;
                    background-color: transparent;
                    border: 2px solid #6fc65f;
                    position: absolute;
                    left: 0;
                    top: 2px;
                    content: "";
                }
                &:hover:before {
                    background-color: #6fc65f;
                }
                a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    color: #ffffff;
                    font-family: 'Roboto', sans-serif;
                    font-size: 19px;
                    font-weight: 400;
                    font-style: normal;
                    line-height: 20px;
                    &:hover {
                        cursor: pointer;
                        color: #6fc65f;
                    }
                    @media only screen and (max-width: 1450px) {
                        font-size: 17px;
                    }
                    @media only screen and (max-width: 575px) {
                        font-size: 17px;
                    }
                }
            }
        }
        .sub-technology {
            display: inline-block;
        }
    }
    .digital-marketing {
        background: linear-gradient(-45deg, rgb(41, 46, 73) 0%, rgb(83, 105, 118) 100%);
    }
    .portfolio-project {
        position: relative;
        padding: 100px 0px;
        background-color: #ecf0f5;
        .title {
            color: #393b3c;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            font-style: normal;
            font-size: 36px;
            line-height: 60px;
            margin-top: 0px;
            text-align: left;
            margin-bottom: 30px;
        }
        .portfolio-card {
            // padding: 30px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0px;
            border-radius: 4px;
            overflow: hidden;
            position: relative;
            z-index: 1;
            .img-project {
                transition-duration: .5s;
                width: 100%;
            }
            .project-detail {
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                flex-direction: column;
                padding: 30px;
                display: flex;
                z-index: 999;
                h3 {
                    margin: 0px;
                    a {
                        font-size: 37.506px;
                        font-family: "Colfax";
                        color: rgb(255, 255, 255);
                        font-weight: bold;
                        line-height: 1.245;
                        text-align: left;
                    }
                }
                p {
                    font-size: 20px;
                    font-family: 'Source Sans Pro';
                    color: #bad2e6;
                    font-style: italic;
                    line-height: 1.3;
                    text-align: left;
                    max-width: 300px;
                    margin-top: 10px;
                    margin-bottom: 30px;
                }
                .View_Project {
                    font-size: 18px;
                    font-family: "Colfax";
                    color: rgb(255, 255, 255);
                    text-transform: uppercase;
                    line-height: 1.667;
                    text-align: left;
                    span {
                        img {
                            width: 20px;
                            margin-left: 5px;
                        }
                    }
                }
            }
            &:hover .img-project {
                transform: scale(1.1);
            }
        }
    }
}
.btn {
    border: none;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    padding: 15px 35px;
    font-weight: 600;
    margin-top: 25px;
    font-size: 20px;
    line-height: 25px;
    background: linear-gradient(-45deg, #9fcb29 0, #5bb53f 100%);
    text-transform: capitalize;
    &:hover {
        border: none;
    }
}