.container {
    width: 100%;
    max-width: 1280px;
}

// .single-post{
//     .blog-header{
//         h1{
//             font-size: 2.3rem;
//         }
//         .author-details{
//             a{
//                 color: #ffffff;
//                 border-bottom: 1px dashed #fff;
//                 padding-bottom: 5px;
//             }
//         }
//     }
//     .blog-post{
//         h2{
//             font-family: 'Lato', sans-serif;
//             font-weight: 700;
//             font-style: normal;
//             color: #525252;
//             font-size: 24px;
//             line-height: 35px;
//             margin-top: 50px;
//             margin-bottom: 20px;
//         }
//         .sticky{
//             position: relative;
//             left: 10%;
//             top: 0;
//             margin-top: 5%;
//             height: auto;
//             @media(max-width: 767px){
//                         left: 0;
//                     }  
//         }
//         .sticky{
//             .blog-social{
//                     position: sticky;
//                     left: 10%;
//                     top: 0;
//                     height: auto; 

//                 h3{
//                     font-size: 20px;
//                     font-family: 'Roboto', sans-serif;
//                     color: #656a6f; 
//                     font-weight: 400;
//                     line-height: 1.095;
//                     margin-bottom: 25px;
//                     position: relative;
//                 }
//                 h3::after{
//                     content: '';
//                     position: absolute;
//                     border-bottom: 1px solid #adadad;
//                     bottom: 0;
//                     margin-bottom: -10px;
//                     left: 0;    
//                     width: 50px;
//                 }
//                 ul{
//                     list-style: none;
//                     margin: 0;
//                     padding: 0 0 0 5px;
//                         li{
//                             font-size: 17px;
//                             font-weight: 300;
//                             line-height: 2;
//                             a{
//                                 font-size: 30px;
//                                 color: #adadad;                                
//                             }
//                             a:hover{
//                                 color: #1f98ea;
//                                 opacity: 1;                               
//                             }

//                         }
//                 }
//             }
//         } 
//         .single-blog-desc{
//             padding: 70px 0px 0px 0px;
//             .content-description{
//                 h1{
//                     font-family: 'Graphik-Regular';
//                     font-size: 44px;
//                 }
//                 h3{
//                     strong{
//                         font-size: 30px;
//                         font-weight: 600;
//                     }
//                 }
//                 h3{
//                     strong{
//                         font-size: 28px;
//                         margin: 0px;
//                         // font-weight: 600;
//                         line-height: 40px;
//                         margin-bottom: 10px;
//                         display: block;
//                         font-family: 'Graphik-Regular';
//                     }
//                 }
//                 h4{
//                     font-size: 17px;
//                     font-family: 'Graphik-Regular';
//                 }
//                 h3{
//                     font-size: 22px;
//                     font-family: 'Graphik-Regular';
//                 }
//                 ul,ol{
//                     margin: 0;
//                 }
//                 ul li, ol li{
//                     font-size: 17px !important;
//                     font-weight: 300;
//                     line-height: 2;
//                 }
//                 p{
//                     font-family: 'Graphik-Regular';
//                     // font-style: normal;
//                     font-size: 17px !important;
//                     font-weight: 300;
//                     color: rgba(0, 0, 0, .84);
//                     line-height: 2;
//                     letter-spacing: -.003em;
//                     margin-bottom: 20px;
//                 }
//             }
//         }
//     }
//     .blog-header{ 
//         background-image: url('./../images/blog-banner.png'); 
//         color: #fff;
//         padding-top: 110px;
//         padding-bottom: 110px;
//         background-size: 100% 100%;
//         background-repeat: no-repeat;
//             min-height: 500px;
//         .blog-title{
//             font-family: 'Roboto', sans-serif;
//         }
//         @media(max-width: 767px){
//         background: linear-gradient(-14deg, #009fff 21%, #0974d5 30%, #053ab1 46%, #06284e 92%);
//     }
//     }
//     .related-posts{
//         margin-bottom: 20px;
//         .related-blog-title{
//             font-weight: bold;
//             font-size: 30px;
//             font-family: 'Montserrat', sans-serif;
//             @media(max-width: 767px){
//                 font-size: 28px;
//             }
//         }
//         .card-blog{
//             border-radius: 0; 
//             height: calc(100% - 60px);
//             .card-image{
//                 height:189px;
//                 width:100%;
//                 background-position: center;
//                 background-size: cover;
//             }
//             .content{
//                 padding: 15px;
//                     h4{
//                     margin-top: 5px;
//                     line-height: 30px;
//                     font-family: 'Montserrat', sans-serif;
//                     font-style: normal;
//                     font-size: 20px;
//                     font-weight: 500;
//                     color: #212b35;
//                     margin: 0px;
//                     margin-bottom: 15px;
//                     @media (min-width: 768px) and (max-width: 991px){
//                      font-size: 18px;
//                      line-height: 28px;
//                     }
//                     }
//                 .category{
//                     a{
//                         font-family: 'Lato', sans-serif;
//                         font-style: normal;
//                         font-size: 20px;
//                         font-weight: 400;
//                         color: #00bcd4;
//                         margin-top: 0px;
//                         letter-spacing: 0.5px;
//                     }
//                 }
//                 .card-description{
//                     color: #637381;
//                     font-family: 'Roboto', sans-serif;
//                     font-weight: 400;
//                     font-size: 16px;
//                 }
//                 .card-description{
//                     a.moretag{
//                         display: inline-block;
//                         margin-left: 5px;
//                         color: #23527c;
//                     }
//                 }
//             }
//             .footer-blog{
//                 padding: 15px;
//                 border-top: 1px solid #eeeeee;
//                 margin-top: auto;
//                 .fa-calendar{
//                     color: #637381;
//                 }
//                 span{
//                     color: #637381;
//                     font-family: 'Roboto', sans-serif;
//                     font-weight: 400;
//                     font-size: 15px !important;
//                 }
//                 a.pull-right{
//                     display: inline-block;
//                     width: 100%;
//                     text-align: right;
//                     @media (max-width: 376px){
//                        text-align: left; 
//                        margin-top: 10px;
//                     }
//                     @media (min-width:377px) and (max-width: 767px){
//                         width: auto;
//                         display: block;
//                     }
//                      @media (min-width:768px) and (max-width: 1070px){
//                        text-align: left; 
//                        margin-top: 10px;
//             }
//                 }
//               .col-md-6{
//                 @media (min-width:377px) and (max-width: 767px){
//                 width: 50%;
//             }
//              @media (min-width:768px) and (max-width: 1070px){
//                 flex: 0 0 100%;
//                 max-width: 100%;
//             }
//             @media (max-width: 376px){
//                        text-align: left; 
//                     }
//               }
//             }
//         }
//     }
// }





.blog-list{
    .blog-sidebar-wrapper{
        .widget_categories, .widget_recent_entries{
            .card{
                margin-bottom: 20px;
                .widget-title{
                    display: block;
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 27px;
                    text-transform: capitalize;
                    color: #212b35;
                    margin: 20px;
                     @media only screen and (max-width:575px) {
                         font-size: 18px;
                         line-height: 1.2;
                         margin-bottom: 10px;
                     }
                }
                ul{
                    list-style: none;
                    margin-left: 0;
                    padding-left: 20px;
                    padding-right: 20px;
                    li{
                        padding-bottom: 5px;
                        border-bottom: 1px solid #e5e5e5;
                        padding: 7px 0;
                        a{
                            color: #637381;
                            font-size: 1rem;
                            @media(min-width: 768px) and (max-width:991px){
                                font-size: 14px;
                            }
                        }
                        a:hover{
                            color: #73a70e;
                            text-decoration: none;
                        }
                        &:last-child{
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
}





.blog-header {
    background-image: url('./../images/blog-banner.png');
    color: #fff;
    padding-top: 110px;
    padding-bottom: 110px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    @media(max-width: 767px){
        background: linear-gradient(-14deg, #2b4657 21%, #113252 30%, #13244d 46%, #06284e 92%);
    }

    .blog-title {
        font-family: 'Roboto', sans-serif;
    }
    h1.hestia-title{
        @media(max-width: 767px){
                font-size: 2.8rem;
        }
    }
}

.blog-list {
    .container {
        padding: 25px 15px;
    }
    .card-image {
        img {
            border-radius: 3px 3px 0px 0px;
            width: 100%;
            height: auto;
        }
    }

    .section-desc {
        padding: 30px;

        .card-title {
            font-style: normal;
            // text-decoration: none;
            font-size: 26px;
            font-weight: 500;
            line-height: 30px;
            color: #212b35;
            margin-top: 0;
            margin-bottom: 20px;
            font-family: 'Graphik-Regular';
            @media only screen and (max-width: 575px) {
                font-size: 18px;
                line-height: 1.2;
                margin-bottom: 10px;
            }
        }

        .card-description {
            p {
                font-style: normal;
                font-size: 16px;
                font-weight: 400;
                color: #637381;
                line-height: 25px;
                margin-bottom: 0px;
                font-family: 'Graphik-Regular';

                @media only screen and (max-width: 575px) {
                    font-size: 14px;
                    line-height: 22px;
                }
            }
        }
    }

    .blog-section-footer {
        padding: 15px 30px;
        border-top: 1px solid rgba(0, 0, 0, .1222);
        display: block;
        overflow: hidden;

        .author {
            @media only screen and (max-width: 575px) {
                font-size: 14px;
                line-height: 1.2;
            }

            a {
                color: #7c8c92;
                font-size: 15px;
                font-weight: 400;
                line-height: 20px;
                font-family: 'Lato', sans-serif;

                @media only screen and (max-width: 575px) {
                    font-size: 14px;
                    line-height: 1.2;
                }
            }
        }

        .read-more-link {
            text-align: right;

            @media only screen and (max-width: 575px) {
                text-align: left;
                margin-top: 10px;
            }

            a {
                text-transform: uppercase;
                color: #3f51b5;
                font-size: 15px;
                font-weight: 600;
                line-height: 27px;
                font-family: 'PT Serif', serif;

                @media only screen and (max-width: 575px) {
                    font-size: 14px;
                    line-height: 1.2;
                }

                :hover {
                    opacity: .75;
                }
            }
        }
    }

    .posts-navigation {
        @media only screen and (max-width: 575px) {
            margin-bottom: 0px;
        }

        .nav-links {
            .nav-previous {
                a {
                    font-size: 16px;
                    line-height: 1.5;
                    color: #3f51b5;
                    font-weight: 600;

                    @media only screen and (max-width: 575px) {
                        font-size: 14px;
                        line-height: 1.2;
                    }
                }
            }
        }
    }
}

.card-title {
    font-style: normal;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;

    a {
        text-decoration: none;
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
    }
    a:hover {
        color: #3f51b5;
    }
}
.blog-section-footer {
    .read-more-link {
        a {
            text-decoration: none;
        }
    }
}